.DestinationFullScreen {
  background-image: url(./../assets/images/DestinationBg.jpg);
  width: 100%;
  height: 100vh;
}
.DestinationTitle {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.number {
  font-size: 28px;
  font-weight: 700;
  color: rgba(245, 245, 245, 0.579);
  letter-spacing: 4.72px;
}
.titledst {
  font-size: 28px;
  color: white;
  letter-spacing: 4.72px;
}
.chooseDestination {
  display: flex;
  align-items: right;

  padding-top: 40px;

  top: 70;
  right: 300px;
}
.destinationContext {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  transform: translate();
  margin-top: 30px;
}

.destinationText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.bottomSideDestination {
  display: flex;
  align-items: center;
  gap: 60px;

  color: white;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.MoonTitle {
  color: white;
  font-size: 100px;
  text-align: left;
  font-family: Bellefair;
}
.MoonDescription {
  width: 444px;
  text-align: left;
  color: #d0d6f9;
  font-size: 18px;
  font-family: Barlow;
  line-height: 32px;
}
.destinationText hr {
  width: 444px;
  color: #383b4b26
}
.bottomRight,
.bottomLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.moreText {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}
@keyframes circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.destinationContext img {
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-name: circle;
  animation-timing-function: linear;
  height: 400px;
  object-fit: cover;
  width: 400px;
}


@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .DestinationFullScreen{
    max-width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: scroll;
  }
  .DestinationTitle{
    width: 80%;
  }
  .container{
    width: 50%;
  }
  .destinationContext{
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  .destinationText{
    align-items: center;
  }
  .moreText{
    align-items: center;
   
  }
  .MoonTitle{
    margin-top: 30px;
  }
  .MoonDescription{
    text-align: center;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .bottomSideDestination{
    margin-bottom: 20px;
    
  }
}

@media only screen and (max-width: 600px) {
  .DestinationFullScreen{
    max-width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 50%;
    overflow-y: scroll;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .DestinationTitle{
    width: 80%;
  }
  .DestinationTitle .number, .titledst{
    font-size: 16px;
  }
  .container{
    width: 100%;
  }
  .destinationContext{
    flex-direction: column;
  }
  .destinationContext img{
    width: 50%;
    height: 50%;
  }
  .destinationText{
    
    align-items: center;
  }
  .moreText{
    align-items: center;
   
  }
  .MoonTitle{
    font-size: 56px;
  }
  .MoonDescription{
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    width: 70%;
  }
  .moreText hr{
    width: 75%;
    
  }
  .bottomSideDestination{
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
  }

}