* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;

  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  width: 100%;
  background-color: #0b0d17;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  font-size: 18px;
  height: 96px;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding-right: 70px;
  letter-spacing: 2.7px;
}

.navbar span {
  font-weight: 700;
  padding-right: 5px;
}

.leftSide {
  display: flex;
  align-items: center;
  gap: 45px;
}

.circleIcon {
  padding-left: 40px;
  padding-top: 18px;
}

.line hr {
  width: 473px;
  margin-top: 10px;
  color: grey;
}

.mobileMenuButton {
  display: none;
}

/* tablets */

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .line {
    display: none;
  }
  .header {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
}
/* /mobiles */

@media only screen and (max-width: 600px) {
  .navbar {
    display: none;
  }
  .header {
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .mobileMenuButton {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
    padding: 15px 20px;
    border: none;
    width: 80px;
    background-color: #0b0d173e;
  }
  .navbar.open {
    display: flex;
    flex-direction: column;
    background-color: rgba(78, 75, 75, 0.286);
    align-items: center;
    text-align: center;
    height: 100vh;
    font-size: 16px;
  }
  .navbar.open span {
    display: none;
  }

  .navbar.open a {
    display: block;
    margin-bottom: 10px;
  }
  .line {
    display: none;
  }
}
