.homeScreen {
  background-image: url(./../assets/images/bgImg.png);
  width: 100%;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.homeTexts {
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 105px;

  
}
.container {
 
  width: 100%;
  margin: 0 auto;
}
.leftSideText {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.Title {
  font-size: 20px;
  color: #d0d6f9;
  letter-spacing: 4.72px;
}
.mainText {
  font-size: 150px;
  font-family: Bellefair;
  font-weight: 400;
}
.description {
  color: #d0d6f9;
  line-height: 32px;
  letter-spacing: 1px;
  font-weight: 400;
  height: 128px;
  width: 444px;
}
.rightSide img {
  margin-top: 120px;
  margin-right: 20px;
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .homeScreen{
    max-width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
  }
  .container{
    width: 50%;
  }
  .homeTexts{
    flex-direction: column;
    align-items: center;
  }
  .leftSideText{
    align-items: center;
    margin-top: 40px;
  }
  .description{
    text-align: center;
  }
  
  .rightSide img{
    width: 95%;
  }
}

@media only screen and (max-width: 600px) {
  .homeScreen{
  max-width: 100vh;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px 50%;
  overflow:hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }
 
  .homeTexts{
    flex-direction: column;
  }
  .leftSideText{
    align-items: center;
    gap: 10px;
  }
  .container{
    width: 95%;
  }
  .Title{
    font-size: 16px;
   text-align: center;
  }
  .mainText{
    font-size: 80px;
    margin-top: 15px;
  }
  .description{
   padding: 0 50px;
    font-size: 16px;
    text-align: center;
    line-height: 25px;
  }
  .rightSide{
    text-align: center;
    width: 100%;
    margin-top: -40px;
  }
  .rightSide img{
    width: 95%;
   
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;
  }
}